#wall .tag-1 {
  display: none;
}

#wall .tag-2 {
  display: none;
}

#wall .tag-3 {
  display: none;
}

#wall .tag-4 {
  display: none;
}

#wall .tag-5 {
  display: none;
}

#wall .tag-6 {
  display: none;
}

#wall .tag-7 {
  display: none;
}
/* Additional specificity to reach 300 bytes */

#wall .tag-1,
#wall .tag-2,
#wall .tag-3,
#wall .tag-4,
#wall .tag-5,
#wall .tag-6,
#wall .tag-7 {
  background: none;
}
